.jumbotron {
  padding-top: 5rem;
  background-color: #e2edff;
}

#about {
  padding-top: 5rem;
}

#resume {
  padding-top: 5rem;
  background-color: #e2edff;
}

#skill {
  padding-top: 5rem;
}

#portofolio {
  padding-top: 5rem;
  background-color: #e2edff;
}

#sertificate {
  padding-top: 5rem;
}
